@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #E5E5E5;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}
